@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgb(202, 212, 255),
    rgb(229, 115, 100),
    rgb(226, 247, 168),
    rgb(83, 187, 62)
  );
  backdrop-filter: blur(5px);
}

.container {
  background: #faf9f6;
  border-radius: 10px;
  max-width: 425px;
  flex-grow: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.search-section {
  display: flex;
  padding: 25px;
  align-items: center;
  gap: 10px;
}

.search-section .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
}

.search-section .input-wrapper span {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}

.search-section .search-input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 20px 0 50px;
  border-radius: 6px;
  border: none;
  background: #f7f2e2;
}

.search-section .search-input::placeholder {
  text-transform: none;
}

.search-section .location-btn {
  height: 54px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1e4b6;
  color: #b8674a;
  outline: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-section .location-btn:hover {
  background-color: #b8674a;
  color: #f1e4b6;
}

.search-section .location-btn span {
  font-size: 1.3rem;
}

.weather-section .current-weather {
  display: flex;
  align-items: center;
  padding: 20px 0 50px;
  flex-direction: column;
}

.current-weather .weather-icon {
  width: 140px;
  aspect-ratio: 1;
}

.current-weather .temperature {
  font-size: 3.38rem;
  margin: 23px 0;
  display: flex;
}

.current-weather .temperature span {
  font-size: 1.56rem;
  font-weight: 500;
  margin: 5px 0 0 2px;
}

.current-weather .description {
  font-size: 1.25rem;
  font-weight: 500;
}

.hourly-weather {
  padding: 16px 25px;
  border-top: 1px solid #d5ccff;
}

.hourly-weather .weather-list {
  display: flex;
  list-style: none;
  gap: 43px;
  padding-bottom: 16px;
  margin-bottom: -16px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hourly-weather:hover .weather-list {
  scrollbar-color: #bfbfbf transparent;
}

.hourly-weather .weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  font-weight: 500;
}

.hourly-weather .weather-item .weather-icon {
  width: 20px;
  aspect-ratio: 1;
}

.weather-section .current-weather .location-name {
  padding-bottom: 20px;
}

@media (max-width: 624px) {
  body {
    padding: 15px;
  }

  .search-section {
    padding: 20px;
  }

  .hourly-weather {
    padding: 16px 20px;
  }

  .hourly-weather .weather-list {
    gap: 32px;
  }
}
